[Unit]
Description=Run Fibaro2Openhab
After=syslog.target
[Service]
ExecStart=/usr/bin/python3 /root/fibaro2openhab/fibaro2openhab.py
Restart=always
[Install]
WantedBy=multi-user.target
